html, body {
    padding: 0;
    margin: 0;
    direction: ltr;
}

.holder {
    margin: 0 auto;
    padding: 20px;
    width: 600px;
    height: 600px;
    background-color: blanchedalmond;
}

table {
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
    border: solid black 1px;
}

table tr th,
table tr td {
    border: solid black 1px;
    min-width: 20px;
}
