html, body {
    padding: 0;
    margin: 0;
    direction: ltr;
}

.holder {
    margin: 0 auto;
    padding: 20px;
    width: 600px;
    height: 600px;
    background-color: blanchedalmond;
}

table {
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
}

table tr:hover {
    background-color: aqua;
}

table tr:last-child:hover {
    background-color: transparent;
}

table tr th,
table tr td {
    border: solid black 1px;
    min-width: 20px;
}

table .footer {
    text-align: right;
    padding: 10px 0;
    border: none;
}


input[type="button"] {
    width: 100px;
    margin-left: 10px;
}
